<body>

    <div class="login-box">
      <img src="https://st2.depositphotos.com/4428871/11696/v/950/depositphotos_116965618-stock-illustration-gym-apple-word-cloud.jpg" class="avatar" alt="Avatar Image">
      <h1>APPLE GYM</h1>
      <form>
        
        <label for="UsuarioD">Username</label>
        <input type="text" placeholder="Enter Username">
        <label for="passwdD">Password</label>
        <input type="password" placeholder="Enter password">
        <input (click)="CambioPag()" type="submit" value="Log In">
      </form>
    </div>
  </body>