<body>

    <div class="head">

        <div class="logo">
            <a href="#">APPLE GYM</a>
        </div>

        <nav class="navbar">
            <a href="#">Inicio</a>
            <a href="#">Nosotros</a>
            <a href="#">Conacto</a>
            <a href="#">Productos</a>
            <a href="#">Precio</a>
        </nav>

    </div>

    <header class="content header">
        <h2 class="title">APPLE GYM</h2>
        <p>
            Ser el gimnasio líder de la ciudad y el país, brindando bienestar a nuestros miembros, 
            generando valor a nuestra empresa, a nuestros colaboradores y a nuestra comunidad.
        </p>

        <div class="btn-home">
            <a href="#" class="btn">Saber mas</a>
        </div>
    </header>

    <section class="content sau">

        <h2 class="title">Productos</h2>
        <p>Con los resultados de nuestros miembros, que son nuestra razón de existir.</p>
        
        <div class="box-container">

            <div class="box">
                <i class="fab fa-angular"></i>
                <img style="height: 150px;" src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1647534352-41Tp711NJeL._SL500_.jpg?crop=1xw:1.00xh;center,top&resize=480%3A%2A" alt="">
                <h3>Suplementos</h3>
                <p> Los mejores suplementos para ganar musculo</p>
            </div>
            <div class="box">
                <i class="fab fa-apple"></i>
                <img  style="height: 150px;" src="https://media.revistagq.com/photos/602f8c54baabf128949c4701/1:1/w_1280,h_1280,c_limit/comprar-mancuernas-17-5-kilos-amazon.jpg" alt="">
                <h3>Mancuerdas</h3>
                <p>Tenemos mancuerdas de todo tipo ingresa y  enterate mas </p>
            </div>
            <div class="box">
                <i class="fab fa-android"></i>
                <img style="height: 150px;" src="https://media.istockphoto.com/id/675179390/es/foto/entrenador-muscular-en-portapapeles.jpg?s=612x612&w=0&k=20&c=eFDuNzHQJfNzOpZGxCPi8pM8bC18EeIm6lgVlmjPuhw=" alt="">
                <h3>Entrenadores personales </h3>
                <p>Te ayudamos con tu entranamiento desde</p>
            </div>

        </div>

    </section>

    <section class="content about">

        <h2 class="title">Nosotros</h2>
        <p>Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Ut soluta similique 
            quia reprehenderit eligendi aliquam. Sit 
            odio impedit quibusdam. Velit corporis, 
            optio debitis quidem ex ipsam rerum dolorem autem sequi.
        </p>

        <a href="#" class="btn">Saber mas</a>

    </section>

    <section class="content price">

        <article class="contain">
            <h2 class="title">Precio</h2>
            <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Ut soluta similique 
                quia reprehenderit eligendi aliquam. Sit 
                odio impedit quibusdam. Velit corporis, 
                optio debitis quidem ex ipsam rerum dolorem autem sequi.
            </p>

            <a href="#" class="btn">Saber precio</a>

        </article>

    </section>

    <section class="content contact">
        <h2 class="title">Contacto</h2>
        <p>48481548</p>
        <figure class="map">
            <img src="img/mapa.png" height="220px" width="100%" alt="mapa">
        </figure>
    </section>
    
</body>