<body>

    <div class="head">

        <div class="logo">
            <a href="#">APPLE GYM</a>
            <img  style="height: 60px;" src="https://st2.depositphotos.com/4428871/11696/v/950/depositphotos_116965618-stock-illustration-gym-apple-word-cloud.jpg" alt="">
        </div>

        <nav class="navbar">
            <a href="3">Carrito</a>

            <a href="4">Productos</a>

        </nav>

    </div>

    <header class="content header">
        <h2 class="title" >APPLE GYM</h2>

        <p>
            Ser el gimnasio líder de la ciudad y el país, brindando bienestar a nuestros miembros, 
            generando valor a nuestra empresa, a nuestros colaboradores y a nuestra comunidad.
        </p>

        <div class="btn-home">
            <a href="#" class="btn">Volver a login</a>
        </div>
    </header>

    <section class="content sau">

        <h2 class="title">Productos y Servicios</h2>
        <p>Con los resultados de nuestros miembros, que son nuestra razón de existir.</p>
        
        <div class="box-container">

            <div class="box">
                <i class="fab fa-angular"></i>
                <img style="height: 150px;" src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1647534352-41Tp711NJeL._SL500_.jpg?crop=1xw:1.00xh;center,top&resize=480%3A%2A" alt="">
                <h3>Suplementos</h3>
                <p> Los mejores suplementos para ganar musculo</p>
            </div>
            <div class="box">
                <i class="fab fa-apple"></i>
                <img  style="height: 150px;" src="https://media.revistagq.com/photos/602f8c54baabf128949c4701/1:1/w_1280,h_1280,c_limit/comprar-mancuernas-17-5-kilos-amazon.jpg" alt="">
                <h3>Mancuernas</h3>
                <p>Tenemos mancuerdas de todo tipo ingresa y  enterate mas </p>
            </div>
            <div class="box">
                <i class="fab fa-android"></i>
                <img style="height: 150px;" src="https://media.istockphoto.com/id/675179390/es/foto/entrenador-muscular-en-portapapeles.jpg?s=612x612&w=0&k=20&c=eFDuNzHQJfNzOpZGxCPi8pM8bC18EeIm6lgVlmjPuhw=" alt="">
                <h3>Entrenadores personales </h3>
                <p>Te ayudamos con tu entranamiento desde</p>
            </div>

        </div>

    </section>

    <section class="content about">
        <div class="box-container">

            <div class="box">
                <i class="fab fa-angular"></i>
                <img style="height: 150px;" src="https://m.media-amazon.com/images/I/51m-8Is3n-L._SL500_.jpg" alt="">
                <h3>Barras de proteina</h3>
                <p> Prueba nuestras barras de proteina!</p>
            </div>
            <div class="box">
                <i class="fab fa-apple"></i>
                <img  style="height: 150px; width: 250px;" src=" https://static.runnea.com/images/201612/batidos-energeticos-1-838x400x80xX.jpg?1" alt="">
                <h3>Batidos energeticos</h3>
                <p>Batidos perfectos para entrenar</p>
            </div>
            <div class="box">
                <i class="fab fa-android"></i>
                <img style="height: 150px;" src="https://powerexplosive.com/wp-content/uploads/2020/05/m%C3%A1quina-cinta.png" alt="">
                <h3>Amplia zona de cardio</h3>
                <p>Por que no visitar la zona de cardio que te ofrece APPLE GYM</p>
            </div>

        </div>



    </section>

    <section class="content price">

        <article class="contain">
            <h2 class="title">Precio</h2>
            <p  >Visitanos y nos encargaremos de adaptarnos a tu presupuesto

            </p>

        </article>

    </section>

    <section class="content contact">
        <h2 class="title">Contacto</h2>
        <p>000-0000-000</p>
        <figure class="map">
            <img style="height: 150px;" src="https://st2.depositphotos.com/4428871/11696/v/950/depositphotos_116965618-stock-illustration-gym-apple-word-cloud.jpg" height="220px" width="100%" alt="mapa">
        </figure>
    </section>
    
</body>