<body>
    <section class="form-register">
      <h4>Carrito de Compras</h4>
      <div>
        <img style="height: 200px;" src="https://w0.peakpx.com/wallpaper/115/338/HD-wallpaper-sad-cloud-anime-black-clearer-cute-dark-kawaii-numbertwo-sadboitimes.jpg " alt="">
        <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">

      </div>
      <div>
        <img style="height: 200px;" src="https://w0.peakpx.com/wallpaper/115/338/HD-wallpaper-sad-cloud-anime-black-clearer-cute-dark-kawaii-numbertwo-sadboitimes.jpg " alt="">
        <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">

      </div>
      <div>
        <img style="height: 200px;" src="https://w0.peakpx.com/wallpaper/115/338/HD-wallpaper-sad-cloud-anime-black-clearer-cute-dark-kawaii-numbertwo-sadboitimes.jpg " alt="">
        <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">

      </div>
      <div>
        <img style="height: 200px;" src="https://w0.peakpx.com/wallpaper/115/338/HD-wallpaper-sad-cloud-anime-black-clearer-cute-dark-kawaii-numbertwo-sadboitimes.jpg " alt="">
        <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">

      </div>
      

      <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
      <button (click)="factura()" class="botons">Facturar</button>
    </section>
  
  </body>